body {
  background-color: #d6e3f8;
}

.nav {
  background-color: #272838;
  color: #d6e3f8;
}

.leftcontainer {
  padding: 5px;
}

.logoimg {
  width: 5%;
  margin-left: -5px;
  content: url(../images/lmlogo.png);
}

.rightcontainer a {
  color: #d6e3f8;
}
